x-pager{
	display: block;
}

x-pager a{
	margin: 0 4px;
}
x-pager a[selected="true"]{
	font-weight: bold;
}
x-pager [pager-element="first"], x-pager [pager-element="last"]{
	display: none;
}
x-pager[firstlast] a[pager-element="first"], x-pager[firstlast] a[pager-element="last"]{
	display: inline;
}
x-pager a[pager-element="prev"], x-pager a[pager-element="next"]{
	display: none;
}
x-pager[prevnext] a[pager-element="prev"], x-pager[prevnext] a[pager-element="next"]{
	display: inline;
}
x-pager[hidefirst="true"] a[pager-element="first"]{
	display:none;
}
x-pager[hidelast="true"] a[pager-element="last"]{
	display:none;
}
x-pager[hideprev="true"] a[pager-element="prev"]{
	display:none;
}
x-pager[hidenext="true"] a[pager-element="next"]{
	display:none;
}